@model List<Person>

<div class="row font-weight-bold mt-3">
    <div class="col-4">Name</div>
    <div class="col-4">City</div>
    <div class="col-4">Id</div>
</div>

@foreach (Person person in Model)
{
<div class="row">
    <div class="col-4">@person.Name</div>
    <div class="col-4">@person.City</div>
    <div class="col-4">@person.PersonId</div>
</div>}